*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 1560px; */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: black;
    color: white;
}

a, a:hover {
    text-decoration: none;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: black;
}
.top-bar span{
    color: #fff;
}
.top-bar ul{
    list-style: none;
    display: flex;
}
.top-bar li{
    margin: 0px 5px;
}
.top-bar a:hover{
    color: rgb(245, 89, 22);
} 
.top-bar i{
    color: #fff;
}  

.top-bar i:hover {
    color: rgb(245, 89, 22);
} 
.top-bar .bi-search {
    color: #fff;
    background: black;
}
.top-bar  button.register {
    height: 40px;
    width: 90px;
    background-color: rgb(241, 74, 19);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    padding: 5px 10px;
  }

  .top-bar  form label{
    height: 30px;
    width: 60px;
    /* background :crimson; */
    background: black; 
    color:#fff;
    border: none;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    
  }
  .top-bar  .search {
    height: 30px;
    width: 30px;
    border: none;
    box-shadow: none; /* Add this line to remove any box-shadow */
    text-shadow: none; /* Add this line to remove any text-shadow */
  }

  .top-bar form #search{
    height: 30px;
    width: 160px;
    /* background: none; */
    outline: none;
    border:2px solid crimson;
    color:#f0e6e6;
    padding:0 10px;
    font-size: 17px;
  }
  
nav {
    background: black;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
}
nav a:hover {
    color:hsl(18, 92%, 52%);
}
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.logo {
    flex: 1;
}
.logo a {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo a:hover {
    color:hsl(18, 92%, 52%);
}
.logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50px;
}

.menu {
    display: flex;
    align-items: center;
    /* text-align: right; */
    list-style: none;
}
.menu li {
    padding: 15px 10px;
    font-size: 18px;
    /* text-align: right; */
}
.menu a {
    color: #fff;
}
.menu a:hover {
    color: hsl(18, 92%, 52%);
}

.toggle {
    font-size: 30px;
    display: none;
}

footer {
    /* width: 1560px; */
    background: black;
    font-size: 18px;
    padding: 60px 15px 20px 60px;
    text-align:left; 
    color: #fff;
}
footer .row {
    display: flex;
    flex-wrap: wrap;
}

footer .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

footer a {
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer a:hover {
    color:hsl(18, 92%, 52%);
}

.footerlogo img {
    display: flex;
    width: auto;
    height: 70px;
    
}
footer .contacticon {
    margin-right: 20px;
}

/* Contact Us column - icon and text */
.contact {
    display: flex;
    flex-direction: column;
}

footer .icon-network {
    font-size: 2em;
    margin-right: 40px;
}
.contact li {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the spacing between the icon and text */
    margin-bottom: 10px; /* Adjust the spacing between the list items */
}

/* Social Network icons */
footer .list-unstyled.d-flex {
    list-style-type: none;
    display: flex;
    gap: 15px; /* Adjust the spacing between the icons */
}


@media screen and (max-width:600px) {
    #search-input, #search-button {
        display: none;
    }
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active, .toggle {
        display: block;
    }

    .menu li {
        padding: 20px 0;
        font-size: 20px;
    }

    .toggle {   
        display: absolute;
        top: 15px;
        right: 20px;
    }

    /* search-register span when screen width is 600px or below */
    .search-register {
        display: none;
    }
}

/*old media query*/
/* @media screen and (max-width:600px) {
    #search-input, #search-button {
        display: none;
    }
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .menu {
        margin-top: 15px;
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;  
    }

  .menu.active, .toggle {
    display: block;
    }

    .menu li {
        padding: 20px 0;
        font-size: 20px;
    }

    .toggle {   
        display: absolute;
        top: 15px;
        right: 20px;
    }  
}
 */