*{
    /* margin: 0%; */
    padding: 0%;
}

    
.container{
    width: 1000px;
    height: 220px;
    background: #000;
    margin:5px auto;
    
}
.content-img{
    
    float: left;
    width: 30%;
    height: 30%;
   
}

.content-text{

    float: left;
    width: 69%;
    height: 40%;
    color: aliceblue;
    padding-left: 1%;
   
}
/* hr{
    border: 1px solid white;
    width: 100%;
} */
.content{
    padding: 1%;
}

.content-link{
    float: right;
    color: white;
    /*text-decoration: none;*/
}