.container{
    width: 1000px;

    /*background-color: red;*/
    margin:5px auto;
    
}
 .content-img{
    width: 1000px;
    height: 600px;
     
}
.comment-section {
    background-color: gainsboro;
    width: 1000px;
    /*border: 1px solid black;*/
    border-radius: 2px;
    padding: 2px;
     margin: 5px auto;
}
.like {
    background-color:#03DAC6;
    width: 100px;
    border: 2px solid black;
    border-radius: 40px;
    padding: 5px;
    margin-left: 40px ;

}
.comment{
    background-color: #03DAC6;
    width: 100px;
    border: 2px solid black;
    border-radius: 40px;
    padding: 5px;
    margin-left: 40px ;

}
.share{
    background-color: #03DAC6;
    width: 100px;
    border: 2px solid black;
    border-radius: 40px;
    padding: 5px;
    margin-left: 40px;
}